<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.dao.CourseDao">
    <resultMap id="BaseResultMap" type="com.qfedu.pojo.Course" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="flag" property="flag" jdbcType="INTEGER" />
        <result column="week" property="week" jdbcType="INTEGER" />
        <result column="createdate" property="createdate" jdbcType="DATE" />
        <result column="type" property="type" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
       id, name, flag, week, createdate, type
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_course
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_course
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.qfedu.pojo.Course" >
        insert into t_course (id, name, flag,
        week, createdate, type
        )
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER},
        #{week,jdbcType=INTEGER}, #{createdate,jdbcType=DATE}, #{type,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.qfedu.pojo.Course" >
        insert into t_course
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="flag != null" >
                flag,
            </if>
            <if test="week != null" >
                week,
            </if>
            <if test="createdate != null" >
                createdate,
            </if>
            <if test="type != null" >
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="flag != null" >
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="week != null" >
                #{week,jdbcType=INTEGER},
            </if>
            <if test="createdate != null" >
                #{createdate,jdbcType=DATE},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Course" >
        update t_course
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="flag != null" >
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="week != null" >
                week = #{week,jdbcType=INTEGER},
            </if>
            <if test="createdate != null" >
                createdate = #{createdate,jdbcType=DATE},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Course" >
        update t_course
        set name = #{name,jdbcType=VARCHAR},
        flag = #{flag,jdbcType=INTEGER},
        week = #{week,jdbcType=INTEGER},
        createdate = #{createdate,jdbcType=DATE},
        type = #{type,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!-- 学科分页查询 -->
    <select id="selectCourseByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_course
        where flag=1
        limit #{page},#{limit}
    </select>
    <!-- 学科数量 -->
    <select id="selectCourseNum" resultType="int">
        select
        count(*)
        from t_course
        where flag=1
    </select>

    <!-- 查询所有的学科供新增班级时选课科目 -->
    <select id="selectAllCourse" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_course
        where flag=1
    </select>
</mapper>
