<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.qfedu.dao.UserDao">
    <resultMap id="resultmap" type="com.qfedu.pojo.User">
        <id column="id" property="id"></id>
        <result column="no" property="no"></result>
        <result column="password" property="password"></result>
        <result column="name" property="name"></result>
        <result column="flag" property="flag"></result>
        <result column="headphoto" property="headphoto"></result>
        <association property="userPic" resultMap="findByUser"></association>
    </resultMap>
    <resultMap id="findByUser" type="com.qfedu.pojo.UserPic">
        <id column="id" property="id"></id>
        <result column="path" property="path"></result>
    </resultMap>

    <select id="findByUser" resultMap="resultmap"  >
    select u.*,s.id as headphoto,s.path from t_user u LEFT OUTER JOIN t_pic s ON u.headphoto = s.id  where
     u.no = #{no}
    </select>
    <update id="update" parameterType="user">
        update t_user set flag=#{flag} where no=#{no}
    </update>
    <select id="selectUserById" parameterType="Integer" resultType="user">
        select * from t_user where id = #{id}
    </select>
    <update id="updatepass" parameterType="user">
        update t_user
        <set>
            <if test="no != null">
                no = #{no},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name= #{name},
            </if>
            <if test="flag != null">
                flag= #{flag},
            </if>
            <if test="headphoto != null">
                headphoto = #{headphoto},
            </if>

    </set>
        where id=#{id}
    </update>

    <select id="selectUserByLoginName" parameterType="String" resultMap="resultmap">
     select * FROM  t_user where name = #{name}
    </select>
    <insert id="insertSelective" parameterType="user">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="no != null">
                no,
            </if>
            <if test="password != null">
               password,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="headphoto != null">
                headphoto ,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="no != null">
                #{no},
            </if>
            <if test="password != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="name!= null">
                #{name},
            </if>
            <if test="flag != null">
                #{flag},
            </if>
            <if test="headphoto != null">
                #{headphoto},
            </if>

        </trim>
    </insert>
</mapper>